<!DOCTYPE html>
<html>
  <head>
    <title>Notes</title>
    <link href="./assets/css/notes.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <section>
      <header>
        <h1>List of Notes</h1>
      </header>
      <nav>
        <ul>
        {{range .results}}
        <li>
          <a href="/notes/{{.ID}}">
            {{ .Title }}
          </a>
        </li>
        {{ end }}
      </nav>
    </section>
    <section>
      <header>
        <h1>Create New Note</h1>
      </header>
      <form method="POST" action="/notes/">
        <section>
          <label>Title<input name="title" autocomplete="off"></label>
        </section>
        <section>
          <textarea name="body" rows="10" cols="50"></textarea>
        </section>
        <button type="submit">Create</button>
      </form>
    </section>
  </body>
</html>
