<html>
    <head><title>{{ .title }}</title></head>
    <body>
    <h1>List of Notes</h1>
    <ul>
        {{range .results}}
        <li><a href="/notes/{{.ID}}">{{ .Body }}</a></li>
        {{ end }}
    </ul>
    <h1>Create New Note</h1>
    <form method="POST" action="/notes/">
        <textarea name="body"></textarea>
        <button type="submit">Create</button>
    </form>
    </body>
</html>