<html>
<head><title>{{.Title}}</title></head>
<body>
  <article>
    <header>
      <h1>
        {{.Title}}
      </h1>
    </header>
    <textarea>
      {{.Body}}
    </textarea>
  </article>
</body>
</html>
